*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans',sans-serif;
  
};

.camera{
  position: relative;

}

.result{
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height:100%;
  display:flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.4s;
};

.result.hasPhoto{
  left: 0;
}

video{
  width:100%;
  max-width: 100%;
  height:auto;
}